<section id="contact" class="section" style="padding-top:25px; padding-bottom:25px;">

			<div class="container">

				<div class="row footerSection"  >

					<div class="col-md-12 headline" style="margin-bottom: 20px;">
						<h2>Contact Me</h2>
						<p>Drop me an Email or give me a ring.</p>
					</div>
					<div class="col-md-4">
					<div class='spinner'></div>
					</div>
				
					<div class="col-md-8">

						<p>Over 6 years of extensive professional experience with HTML5, XHTML, DOM, CSS3, JavaScript, AJAX, and Leading User Interface (UI) web applications.
	
</p>
<p>Knowledge of complete SDLC of the project involving Design, Development, Testing and Implementation of the Project
    </p>

						<ul class="icon-list">
							
							<li><i class="fa fa-fw fa-phone fa-3x"></i>(937) 343- 1820</li>
							<li><i class="fa fa-fw fa-envelope fa-3x"></i>
								<a href="mailto:karthik91ui@gmail.com">karthik91ui@gmail.com</a>
							</li>
							
						</ul>

					</div>


				</div><!-- .row -->

			</div><!-- .container -->

		</section>

    <footer id="footer">

			<div class="container">

				<div class="row">

					<div class="col-md-12">
						<p class="copy text-center">
							© 2011-2017 Karthik Nathani.
						</p>
					</div>

				</div><!-- .row -->

			</div><!-- .container -->

		</footer>