<div class="row" ng-controller="courseCtrl" style=" margin:40px;">
    <div class="col-sm-3 filterCourses" >
        <div ng-include="'/public/app/courses/new-course.ejs'"></div>
    </div>
     <div class="col-sm-9">
          <div ng-include="'/public/app/courses/featured-course.ejs'"></div>
    </div>

</div>
