
<!--<div class="jumbotron">
  <h3 style="text-transform: uppercase">Karthik Nathani </h3>
  <p class="lead">
 Welcome to Sample MEAN Stack Application!
  </p>

</div>-->
<!--<div id="sample-table">
    <div id="sample-table-header">
        <h1>Application Built on</h1>
    </div>
    
    <div id="sample-table-content">
        <ul style="padding-left: 0px;">
            <li style="padding:10px"><strong>M:</strong> MongoDB - Database</li>
            <li style="padding:10px" ><strong>E:</strong> Express - Middleware</li>
            <li style="padding:10px"><strong>A:</strong> AngularJS-1.5 - Client Side Framework </li>
            <li style="padding:10px"><strong>N:</strong> NodeJS </li>
        </ul>
    </div>
</div>-->
 
    <section class="header-bootstrap row">
        <div class="header-content">
             <div class="header-content-inner">
            <div class="row">
              <div class="col-sm-6">
             <img src="/public/images/logo.png"  alt="">
            </div>
            <div class="col-sm-6">
             <h2 id="homeHeading">EVENT HOSTING</h2>
                <h4 id="homeHeading">MEAN Stack Application</h4>
                <hr style="border-top:1px solid #fff ">
                <p>This applications loads a Single HTML page and dynamically update the page as the user interacts with the application. Landing page designed with SVG embedded Image </p>
               
            </div>
            <div >
             <button ui-sref="login" class="btn btn-info btn-xl"><i class="fa fa-sign-in"></i>&nbsp;  Login to Create Course</button>
            </div>
            <div style="padding:20px;">

            </div>
           <div>
          <button ui-sref="register" class="btn btn-primary btn-xl"><i class="fa fa-id-card-o"></i>&nbsp;  Create New Account</button>
           </div>
        
            </div>
            </div>
           
        </div>
    </section>

 

    <section id="services" class="row" style="margin-top:0px;padding-top:20px;">
        <div class="">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What is it?</h2>
                  
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-bolt text-primary sr-icons circle-icon"></i>
                        <h3>SPA</h3>
                        <p class="text-muted">SPA Use AJAX and HTML5 to create a fluid and responsive web apps with out constant page load</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-check text-primary sr-icons circle-icon"></i>
                        <h3>It's Relaible</h3>
                        <p class="text-muted">MEAN is an acronym for MongoDB, ExpressJS, AngularJS and Node.js. 
                            From client to server to database, MEAN is full stack JavaScript</p>
                    
                    </div>
                </div>
                 <div class="col-lg-3 col-sm-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-calendar text-primary sr-icons circle-icon"></i>
                        <h3>Event</h3>
                        <p class="text-muted">Event organizers are planners to the core. If you’re an event organizer, 
                            you likely have a unique gift of being able to see both the big picture as well as the unique 
                            steps and resources needed to get to that vision </p>
                    
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-bandcamp text-primary sr-icons circle-icon"></i>
                        <h3>Courses</h3>
                        <p class="text-muted">This is a Demo functionality of the Application, Need to be an authorized user for Creating a New Course    </p>
                    </div>
                </div>
          
            </div>
        </div>
    </section>

     <div class="row" id="support-content">
      <div class="row">
            <h1>Nice to Meet you</h1>
        <div class="col-sm-6 col-md-4">
          <embed src="/public/app/main/watch.svg" id="svg">
        </div>
        <div class="col-sm-6 col-md-8">
        
          <p class="fastSupportText">I'm Karthik Nathani, UX Desiginer / UI Developer expert in speed-up the project intiation process and create 
              cohesion among team allowing for faster iteration and greater "feature sharing" between projects </p>
                <p class="fastSupportText" > I have good experience on working with media queries, CSS Backgrounds,
                     expertise designing mockups visually appealing responsive designs focused on usability,
                      utility UX, cross-browser compatibility. </p>
                       <p class="fastSupportText" > Strong experience in Designing and developing the Single page application with Angular JS,
                            Bootstrap and Building RESTful Web API,
                            creating Custom Directives using advance java script methods which can be reusable in multiple projects.  </p>
                      

        </div>
      </div>
    </div>

		